.carousel-item img{
    height:50vh;
}
 
.row1 {
    padding-top:5%;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    
}
 
.row1 .col2 {
   justify-content: flex-end;
   display: inline-flex;
}
.row1 .image6 {
    border: 2px solid black;
    margin-right: 10px;
}
.row1 .image7 {
    border: 2px solid black;
    margin-right: 10px;
}
.row1 .image8 {
    border: 2px solid black;
    margin-right: 10px;
    
}
.row1 .image9 {
    border: 2px solid black;
    margin-right: 10px;
}

.card-body{
    background-color: rgb(239,238,238);
    
}
 .footer-top{
    background-color:rgb(43,41,41);
    color: white;
    padding-top: 10px; 
 }

 .card-body{
    background-color: rgb(239,238,238);

 }
 .segment-one a {
    background-color: rgb(109,109,109);
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 10%;
    margin: 5px;
 }
 .segment-one a i {
    font-size: 20px;
    color: white;
    padding: 10px;
 }

 .segment-two ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }

 .segment-two ul li a {
    color: white;
    text-decoration: none;
 }

 .segment-two ul li {
    border-bottom: 1px solid rgba(2556,255,255,0.3);
    line-height: 40px;
 }
 .segment-one a :hover{
     background-color: rgb(32, 178, 197);
 }
 .segment-three .form-text{
  color: white;
  
 }
 .segment-three .btn{
   background-color: rgb(239,239,239);
 }
 .segment-three .btn:hover{
    background-color: wheat;
 }

.footer-bottom-text{
    text-align: center;
    background-color: black;
    color: white;
    height: 60px;
    padding-top: 10px;
}

 